.catallog-file-list {
  margin-top: 62px;

  @include below(md) {
    margin-top: 40px;
  }
  @include below(sm) {
    margin-top: 27px;
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-top: -40px;

  @include below(md) {
    margin-top: -20px;
  }
}

.catalog-list__cell {
  width: calc(100% / 2);
  padding-left: 60px;
  padding-top: 40px;

  @include below(md) {
    padding-top: 20px;
    width: 100%;
  }
}

.catalog-item {
  display: flex;
  flex-direction: column;
}

.catalog-item__image {
  width: 100%;
}

.catalog-item__image img {
  display: block;
  width: 100%;
  height: auto;
}

.catalog-item__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-item__name {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  padding: 12px 12px 12px 20px;
  margin-right: 48px;
  position: relative;
  background: #4e4d54;
  text-decoration: none;

  @include below(sm) {
    font-size: 15px;
    padding: 8px;
  }
}

.catalog-item__name::before {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  border-style: solid;
  border-width: 48px 48px 0 0;
  border-color: #4e4d54 transparent transparent transparent;

  @include below(sm) {
    border-width: 31px 31px 0 0;
  }
}

.catalog-item__desc {
  color: #4e4e53;
  font-size: 24px;
  line-height: 30px;
  margin-top: 10px;

  @include below(sm) {
    font-size: 15px;
    line-height: 18px;
    margin-top: 3px;
  }
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -40px;
  margin-top: -40px;

  @include below(md) {
    margin-top: -80px;
  }
  @include below(sm) {
    margin-top: -40px;
  }
}

.services-list__cell {
  width: calc(100% / 3);
  padding-left: 40px;
  padding-top: 40px;

  @include below(md) {
    width: 100%;
    padding-top: 80px;
  }
  @include below(sm) {
    padding-top: 40px;
  }
}

.services-item {
  display: flex;
  flex-direction: column;

  @include below(md) {
    flex-direction: row;
    align-items: center;
  }
  @include below(sm) {
    flex-direction: column;
  }
}

.services-item__image {
  margin-bottom: 40px;
  width: 100%;
  height: 340px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @include below(md) {
    width: 280px;
    height: 280px;
    margin-bottom: 0;
    margin-right: 34px;
  }
  @include below(sm) {
    margin-right: 0;
    margin-bottom: 17px;
  }
}

.services-item__image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.services-item__body {
}

.services-item__name {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  padding: 12px 20px;
  margin-right: 48px;
  position: relative;
  background: #e16c19;
  letter-spacing: 0.025em;

  @include below(sm) {
    letter-spacing: 0;
    font-size: 20px;
    padding: 10px 18px;
  }
}

.services-item__name::before {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  border-style: solid;
  border-width: 48px 48px 0 0;
  border-color: #e16c19 transparent transparent transparent;

  @include below(sm) {
    border-width: 40px 40px 0 0;
  }
}

.services-item__desc {
  color: #4e4e53;
  font-size: 24px;
  line-height: 30px;
  margin-top: 17px;

  @include below(sm) {
    font-size: 20px;
    line-height: 25px;
    margin-top: 15px;
  }
}

.frame-house-content {
  color: #4e4e53;
  font-size: 29px;
  line-height: 36px;
  margin-bottom: 54px;

  @include below(md) {
    text-align: center;
    margin-bottom: 32px;
  }
  @include below(sm) {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 18px;
  }
}

.frame-house {
  margin-top: 60px;
}

.frame-house-row + .frame-house-row {
  margin-top: 40px;

  @include below(sm) {
    margin-top: 20px;
  }
}

.frame-house-layout {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-top: -15px;

  @include below(sm) {
    margin-left: -8px;
    margin-top: -8px;
  }
}

.frame-house-layout__left {
  padding-left: 15px;
  padding-top: 15px;
  width: 50%;

  @include below(md) {
    width: 100%;
  }
  @include below(sm) {
    padding-left: 8px;
    padding-top: 8px;
  }
}

.frame-house-layout__right {
  padding-left: 15px;
  padding-top: 15px;
  width: 50%;

  @include below(md) {
    width: 100%;
  }
  @include below(sm) {
    padding-left: 8px;
    padding-top: 8px;
  }
}

.frame-house-image {
  display: flex;
}

.frame-house-image img {
  display: block;
  width: 100%;
}

.frame-house-details {
  border: 3px solid #9b9ba2;
}

.ui-content a.frame-house-details__title,
a.frame-house-details__title,
.frame-house-details__title {
  color: #ffffff;
  font-size: 23px;
  font-weight: 500;
  line-height: 30px;
  background-color: #9b9ba2;
  padding: 2px 17px 5px;
  text-decoration: none;
  display: block;

  &:hover {
    color: #ffffff;
    background-color: #9b9ba2;
  }

  &:visited {
    color: #ffffff;
  }

  @include below(sm) {
    font-size: 15px;
    line-height: 1;
    padding: 1px 7px 3px;
  }
}

.frame-house-details__desc {
  color: #4e4e53;
  font-size: 23px;
  line-height: 30px;
  padding: 0px 17px 4px;

  @include below(sm) {
    font-size: 15px;
    line-height: 1;
    padding: 1px 7px 3px;
  }
}

.frame-house-files {
  margin-top: 4px;

  @include below(sm) {
    margin-top: 3px;
  }
}

.frame-house-file {
  position: relative;
  border: 3px solid #e16c19;
  display: flex;
  align-items: center;
  padding: 18px 14px;

  @include below(sm) {
    padding: 8px;
  }
}

.frame-house-file + .frame-house-file {
  margin-top: 4px;

  @include below(sm) {
    margin-top: 3px;
  }
}

.frame-house-file__icon {
  width: 48px;
  height: 48px;
  margin-top: -12px;
  margin-bottom: -12px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  margin-right: 12px;

  @include below(sm) {
    width: 28px;
    height: 28px;
    margin-right: 6px;
    margin-top: -8px;
    margin-bottom: -8px;
  }
}

.frame-house-file__icon img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  display: block;
}

.ui-content a.frame-house-file__name,
a.frame-house-file__name,
.frame-house-file__name {
  display: block;
  color: #4e4e53;
  font-size: 23px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: #4e4e53;
    background: none;
  }

  &:visited {
    color: #4e4e53;
  }

  @include below(sm) {
    font-size: 15px;
  }
}

.frame-house-file__name::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
}
.contractors {
}

.contractors__title {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  background-color: #e16c19;
  padding: 6px 15px;
  margin-bottom: 5px;

  @include below(md) {
    font-size: 18px;
    line-height: 22px;
    padding: 5px 10px;
  }
  @include below(sm) {
    font-size: 11px;
    line-height: 11px;
    padding: 4px 5px;
    margin-bottom: 2px;
  }
}

.contractors-table {
  margin: -5px;
  @include below(sm) {
    margin: -2px;
  }
  table {
    width: 100%;
    border-spacing: 5px;
    border-collapse: separate;
    padding: 0;
    border: 0;
    @include below(sm) {
      border-spacing: 2px;
    }
  }
  th {
    background-color: #9b9ba2;
    padding: 4px 15px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    text-align: left;
    border: 3px solid #9b9ba2;

    @include below(md) {
      font-size: 18px;
      line-height: 22px;
      padding: 2px 10px;
    }
    @include below(sm) {
      font-size: 11px;
      line-height: 11px;
      padding: 3px 5px;
      border-width: 1px;
    }
  }
  td {
    color: #4e4e53;
    font-size: 24px;
    line-height: 30px;
    padding: 4px 15px;
    vertical-align: baseline;
    background: transparent;
    text-align: left;
    border: 3px solid #9b9ba2;

    @include below(md) {
      font-size: 18px;
      line-height: 22px;
      padding: 2px 10px;
    }
    @include below(sm) {
      font-size: 11px;
      line-height: 11px;
      padding: 3px 5px;
      border-width: 1px;
    }
  }
}

.contacts {
  // margin-bottom: 200px
}

.contacts-address {
  display: flex;
  align-items: center;
}

.contacts-address__icon {
  align-self: flex-start;
  background: url('../images/icon-address.png') no-repeat 50% 50%;
  background-size: contain;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-shrink: 0;

  @include below(sm) {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }
}

.contacts-address__body {
  flex-grow: 1;
}

.contacts-address__label {
  color: #4e4e53;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  @include below(sm) {
    font-size: 18px;
  }
}

.contacts-address__value {
  color: #4e4e53;
  font-size: 30px;
  line-height: 30px;
  margin-top: 5px;

  @include below(sm) {
    font-size: 18px;
    line-height: 20px;
    margin-top: 0px;
  }
}

.contacts-map {
  margin-top: 24px;

  @include below(sm) {
    margin-top: 8px;
  }
}

.contacts-yandexnavi {
  margin-top: 12px;

  @include below(sm) {
    margin-top: 4px;
  }
}

.contacts-yandexnavi a {
  display: inline-block;
  line-height: 1.125;
  font-size: 18px;
  padding: 12px 24px;
  color: #fefefe;
  text-align: center;
  text-decoration: none;
  background: #e16c19;
  border-radius: 6px;
  border: 2px solid #405666;

  @include below(sm) {
    width: 100%;
  }
}

.contacts-columns {
}

.contacts-phone {
  display: flex;
  align-items: center;
  margin-top: 40px;

  @include below(sm) {
    margin-top: 16px;
  }
}

.contacts-phone__icon {
  align-self: flex-start;
  background: url('../images/icon-phone.png') no-repeat 50% 50%;
  background-size: contain;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-shrink: 0;

  @include below(sm) {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }
}

.contacts-phone__body {
  flex-grow: 1;
}

.contacts-phone__label {
  color: #4e4e53;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.0125em;

  @include below(sm) {
    font-size: 18px;
  }
}

.contacts-phone__value {
  color: #4e4e53;
  font-size: 30px;
  line-height: 30px;
  margin-top: 5px;
  letter-spacing: 0.025em;

  @include below(sm) {
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
  }
}

.contacts-email {
  display: flex;
  align-items: center;
  margin-top: 30px;

  @include below(sm) {
    margin-top: 14px;
  }
}

.contacts-email__icon {
  align-self: flex-start;
  background: url('../images/icon-email.png') no-repeat 50% 50%;
  background-size: contain;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-shrink: 0;

  @include below(sm) {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }
}

.contacts-email__body {
  flex-grow: 1;
}

.contacts-email__label {
  color: #4e4e53;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @include below(sm) {
    font-size: 18px;
  }
}

.contacts-email__value {
  color: #4e4e53;
  font-size: 30px;
  line-height: 30px;
  margin-top: 5px;

  @include below(sm) {
    font-size: 18px;
    line-height: 20px;
    margin-top: 0;
  }
}

.contacts-columns {
  display: flex;
  justify-content: space-between;

  @include below(md) {
    flex-direction: column;
  }
}

.contacts-column {

}

.contacts-schedule {
  display: flex;
  align-items: center;
  margin-top: 40px;

  @include below(sm) {
    margin-top: 20px;
  }
}

.contacts-schedule__icon {
  align-self: flex-start;
  background: url('../images/icon-schedule.png') no-repeat 50% 50%;
  background-size: contain;
  width: 60px;
  height: 60px;
  margin-right: 20px;
  flex-shrink: 0;

  @include below(sm) {
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }
}

.contacts-schedule__body {
  flex-grow: 1;
}

.contacts-schedule__label {
  color: #4e4e53;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.02em;

  @include below(sm) {
    font-size: 18px;
  }
}

.contacts-schedule__value {
  font-size: 30px;
  line-height: 30px;
  color: #4e4e53;
  margin-top: 5px;

  @include below(sm) {
    margin-top: 0;
    font-size: 18px;
    line-height: 20px;
  }
}

.contacts-schedule__value-date {
  font-weight: 500;
  color: #e16c19;
  letter-spacing: 0.025em;
}

.contacts-schedule__value-time {
  margin-top: 5px;
  margin-bottom: 2px;

  @include below(sm) {
    margin-top: 2px;
  }
}

.contacts-note {
  color: #4e4e53;
  font-size: 30px;
  line-height: 30px;
  margin-top: 40px;

  @include below(md) {
    font-size: 24px;
    margin-top: 32px;
  }
  @include below(sm) {
    font-size: 16px;
    margin-top: 22px;
    text-align: center;
    line-height: 18px;
  }
}
