.catallog-file-list {
  margin-top: 62px;

  @include below(md) {
    margin-top: 40px;
  }
  @include below(sm) {
    margin-top: 27px;
  }
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -60px;
  margin-top: -40px;

  @include below(md) {
    margin-top: -20px;
  }
}

.catalog-list__cell {
  width: calc(100% / 2);
  padding-left: 60px;
  padding-top: 40px;

  @include below(md) {
    padding-top: 20px;
    width: 100%;
  }
}

.catalog-item {
  display: flex;
  flex-direction: column;
}

.catalog-item__image {
  width: 100%;
}

.catalog-item__image img {
  display: block;
  width: 100%;
  height: auto;
}

.catalog-item__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.catalog-item__name {
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  padding: 12px 12px 12px 20px;
  margin-right: 48px;
  position: relative;
  background: #4e4d54;
  text-decoration: none;

  @include below(sm) {
    font-size: 15px;
    padding: 8px;
  }
}

.catalog-item__name::before {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  border-style: solid;
  border-width: 48px 48px 0 0;
  border-color: #4e4d54 transparent transparent transparent;

  @include below(sm) {
    border-width: 31px 31px 0 0;
  }
}

.catalog-item__desc {
  color: #4e4e53;
  font-size: 24px;
  line-height: 30px;
  margin-top: 10px;

  @include below(sm) {
    font-size: 15px;
    line-height: 18px;
    margin-top: 3px;
  }
}
